<!DOCTYPE html>
<html>
<head>
    <title><%= title %> </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
    <body>
    <!-- Include header  -->
    <%- include partials/header %>
        <!-- Body contents area -->
        <section class="section">
            <div class="container">
                <div class="intro">
                    <h1>T.I.L : Today I Learned</h1>
                    <div class ="blinkbtndiv"><a class = "blinkbtn" href='/posts/post-form'>Write Post</a></div>
                </div>
            </div>
            <!-- Display subscription success message -->
            <% if (messages.postSuccessMsg) { %>
                        <div class="subMessage">
                            <p class="message-text">  <%= messages.postSuccessMsg %></p>
                            <div id="message-close"><a href="#" ><img src ="/img/close.svg"></a></div>
                        </div>
                        <% } %>       
            <div class="container">
                <div class='post'>
                    <% posts.slice().reverse().forEach(function(post){ %>
                    <div class="post-box">
                        <div class='title'><%= post.title %></div>
                        <div class='summary'><%= post.summary %></div>
                        <div class='author'><%= post.author %></div>
                        <div class='date'><%= post.date %></div>
                        <div class='slinkbtndiv' id="post-detail"> <a class = "slinkbtn" href="/posts/post-detail/<%= post.slug %>"> more </a></div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </section>
    </div>
    <!-- Include footer -->
    <%- include partials/footer %>
    <!-- Include js file link for closing message layer-->
    <%- include partials/layerCloseJS %>
    </body>
</html>

