<!DOCTYPE html>
<html>
<head>
    <title><%= title %> </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
    <body>
    <!-- Include header  -->
    <%- include partials/header %>
            <!-- Displays the submitted name and email START-->
            <section class="signup">
                <h1>Sign In</h1>
                <!-- Display signup fail message -->
                <% if (messages.signin) { %>
                <div class="subMessage">
                    <p class="message-text"> <%= messages.signin %></p>
                    <div id="message-close"><a href="#"><img src="./img/close.svg"></a></div>
                </div>
                <% } %>
                <!-- signup form area -->
                <form action="../signin" method="post">
                    <fieldset>
                        <legend class="legend">Share our T.I.L : Today I Learned</legend>
                        <div class="form">
                            <div class="email">
                                <label for="email">E-mail(ID)</label>
                                <input id="email" type="email" name="email" placeholder="E-mail" maxlength="50" required>
                            </div>
                            <div class="password">
                                <label for="password">Password</label>
                                <input id="password" type="password" name="password" placeholder="password" required minlength="6" maxlength="20"
                                    required>
                            </div>
                            <div class="button">
                                <button type="submit" id="submit" class="submit" value="submit"> Sign in</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>
        <!-- Include footer -->
        <%- include partials/footer %>
        <!-- Include js file link for closing message layer-->
        <%- include partials/layerCloseJS %>
    </body>
</html>